// Variables
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
$Fuente: "Poppins", sans-serif;
$color-primario: #002e5b;
$color-secundario: #999999;
$color-claro: #ffffff4d;
$color-blanco: #ffffff;
$color-oscuro: #0f435c;
$color-variacion: #fde428;
$color-boton: #6c98e1;

body {
  background-color: #f9fafc;
}
