.somos--principal {
  display: flex;
  padding: 20px;
  width: 100%;
  font-family: $Fuente;
  justify-content: space-evenly;
  text-align: center;
  &-container {
    width: 1140px;
    padding: 20px;
    z-index: -1;
  }
  &-titulo {
    padding: 20px;
    display: inline-flex;

    h3 {
      color: $color-primario;
      display: block;
      font-size: 30px;
    }
    h3::after {
      content: "";
      color: $color-boton;
      margin: 12px 0 0;
      display: block;
      width: 52px;
      height: 3px;
      background: #6c98e1;
      box-sizing: border-box;
    }
  }
  p {
    color: $color-secundario;
  }
}
