.quienesSomos--principal {
  display: flex;
  padding: 50px 100px;
  width: 100%;
  font-family: $Fuente;
  color: $color-secundario;
  justify-content: space-evenly;
  &-container {
    width: 1140px;
    z-index: -1;
  }
}
.quienesSomos--principal-contenido {
  padding: 20px;
  // Para responsivo display: contents;
  h2 {
    color: $color-primario;
    padding-top: 30px;
    font-size: 22px;
  }
  h2::after {
    content: "";
    color: $color-boton;
    margin: 12px 0 0;
    display: block;
    width: 52px;
    height: 3px;
    background: #6c98e1;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
}
